@debug 10s + 15s; // 25s
@debug 1in - 10px; // 0.8958333333in
@debug 5px * 3px; // 15px*px
@debug 1in % 9px; // 0.0625in (1in == 96px)

.one{
    font-size: 1px+1px;
}
// 에러(고정변수끼리만 연산가능)
// .two{
//     font-size: 1em+1px;
// }
.three{
    font-size: 1in+10px;
}
.four{
    font-size: 1cm+10px;
}
.five{
    font-size: 1+15px;
}
.six{
    font-size: 15px + 1;
}