@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family:'pretendard';
}
h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}
